<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script type="text/javascript" src="lib/ionic/js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <!-- Firebase -->
    <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!-- Cordova -->
    
  </head>
  <body ng-app="starter">

  <ion-header-bar class="top bar-dark">
    <!-- <button class="button button-icon icon ion-navicon topStuff"></button> -->
    <h1 class="title topStuff">Digicel Play <img src="img/dplay.jpg" style="width:45px;height:80%;" class="dplayLogo"></h1>
    <button class="button" ng-click="showDelete =! showDelete">Edit</button>
  </ion-header-bar>

  <ion-content class="padding" ng-controller="NewContactCtrl">

    <form name="digiForm" id="digiForm" novalidate>

      <label class="req item item-input">
        <input  type="text" 
                name="fname" 
                ng-model="cust.fName" 
                placeholder="First Name" 
                required>
      </label>    

      <label class=" req item item-input">
        <input  type="text" 
                name="lname" 
                ng-model="cust.lName" 
                placeholder="Last Name" 
                required>
      </label>

      <label class=" req item item-input">
        <span class="areaCode">1868-</span>
        <input  type="tel" 
                name="pcontact" 
                ng-model="cust.contact" 
                placeholder="Primary Number" 
                ng-minlength="7" ng-maxlength="7"
                required/>
      </label>
      <br>

      <div class ="padding">
        <p ng-show = "digiForm.pcontact.$error.minlength || digiForm.pcontact.$error.maxlength">Primary Contact must be 7 digits (eg. 6391234).</p>
      </div>

      <ion-list show-delete="showDelete">
        <ion-item ng-repeat="cust in inputs track by $index">
          
          <label class="item item-input">
            <span class="areaCode">1868-</span>
            <input  type="tel" 
                    ng-model="cust.value" 
                    placeholder="Other Number" 
                    ng-minlength="7" ng-maxlength="7"
                    id="newInputs{{$index}}"
                    name="otherContact{{$index}}"/>
          </label>

          <ion-delete-button class="ion-minus-circled" ng-click="deleteInput(cust)"></ion-delete-button>
          <p ng-show = "digiForm.otherContact{{$index}}.$error.minlength || digiForm.otherContact{{$index}}.$error.maxlength">Other Contact must be 7 digits (eg. 6391234).</p>
        </ion-item>

      </ion-list> 
    </form>
    <button class="button button-block button-dark" ng-click="addContact()">
        Add Other Contact 
        <span class="ion-ios-plus-outline"></span>
      </button><!-- Currently activated with press enter -->
    
      <div class="row"><!-- used to allow for the application buttons to scale based on device -->
        <div class="col"><input type="reset" class="button button-block button-dark" value="Clear" ng-click="clearAll()"></div>
        <div class="col">
          <button form = "digiForm"
                  class="button button-block button-balanced" 
                  ng-disabled="digiForm.$invalid" 
                  ng-click="saveContact()">Save
          </button>
        </div>
        <!-- <div class="col"><input type="submit" class="button button-block button-balanced" value ="Save"></div> -->
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class ="padding">
        <p ng-show = "digiForm.fname.$error.required || digiForm.lname.$error.required || digiForm.pcontact.$error.required">Please enter all information to save.</p>
      </div>
  </ion-content>
  </body>
</html>
