/* Empty. Add your own CSS if you like */
.topStuff{
	background-color: #5B2D90;
}
.dplayLogo{
	vertical-align: middle;
}

.req{
	background-color: #F0F8FF;
}
.areaCode{
	font-size : 90%;
	vertical-align: bottom;
	height: 19px;
}
